#!/bin/sh

#
# tr10680.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/10600/10680
export PROJECTDIR

#
# LOADFILE5 is a blank file, as there are no notes
#
LOADFILE1=${PROJECTDIR}/MakeAssays.txt
LOADFILE5=${PROJECTDIR}/IndexNotes.txt
ASSAYLOADDIR=${PROJECTDIR}/assayload
ASSAYLOADDATADIR=${ASSAYLOADDIR}/data
export LOADFILE1 LOADFILE5 ASSAYLOADDIR ASSAYLOADDATADIR

#
# Settings for the assay load
#
PROBEPREP_FILE=${ASSAYLOADDATADIR}/In_Situ_probeprep.txt
ASSAY_FILE=${ASSAYLOADDATADIR}/In_Situ_assay.txt
SPECIMEN_FILE=${ASSAYLOADDATADIR}/In_Situ_specimen.txt
RESULTS_FILE=${ASSAYLOADDATADIR}/In_Situ_results.txt
RESULT_IMAGE_FILE=${ASSAYLOADDATADIR}/Result_Image.txt
ASSAYLOADMODE=load
export PROBEPREP_FILE ASSAY_FILE SPECIMEN_FILE RESULTS_FILE RESULT_IMAGE_FILE
export ASSAYLOADMODE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:168654
CREATEDBY=cms
export REFERENCE CREATEDBY
