#!/bin/sh

#
# tr12504.config
#

#
#  If the MGICONFIG environment variable does not have a local override,
#  use the default "live" settings.
#
if [ "${MGICONFIG}" = "" ]
then
    MGICONFIG=/usr/local/mgi/live/mgiconfig
    export MGICONFIG
fi

. ${MGICONFIG}/master.config.sh

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/12500/12504
#PROJECTDIR=/home/lec/mgi/dataload/gxdload/lec
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
PIX_MAPPING=${PROJECTDIR}/imageload/impclacz-pixload.mapping
export PIXELDBDATA PIXELDBCOUNTER PIX_MAPPING

#
# Image directories
# must use variable names as used by gxdimageload
#
IMAGELOADDATADIR=${PROJECTDIR}/imageload
FULLSIZE_IMAGE_DIR=${PROJECTDIR}/images
IMAGEFILE=${IMAGELOADDATADIR}/image.txt
IMAGEPANEFILE=${IMAGELOADDATADIR}/imagepane.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHTNOTETYPE="Copyright"
CAPTIONNOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
#IMAGELOADMODE=preview
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export IMAGELOADDATADIR FULLSIZE_IMAGE_DIR
export IMAGEFILE IMAGEPANEFILE
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHTNOTETYPE CAPTIONNOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

#
# Settings for the assay load
#
ASSAYLOADDATADIR=${PROJECTDIR}/assayload
ASSAYLOADDATADIR=${ASSAYLOADDATADIR}
ASSAY_FILE=${ASSAYLOADDATADIR}/InSituAssay.txt
PROBEPREP_FILE=${ASSAYLOADDATADIR}/InSituProbeprep.txt
SPECIMEN_FILE=${ASSAYLOADDATADIR}/InSituSpecimen.txt
RESULTS_FILE=${ASSAYLOADDATADIR}/InSituResults.txt
RESULT_IMAGEFILE=${ASSAYLOADDATADIR}/InSituResultImage.txt
ASSAYLOADMODE=load
#ASSAYLOADMODE=preview
export ASSAYLOADDATADIR ASSAYLOADDATADIR
export ASSAY_FILE PROBEPREP_FILE SPECIMEN_FILE RESULTS_FILE RESULT_IMAGEFILE
export ASSAYLOADMODE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# used by other load products
#
REFERENCE=J:228563
CREATEDBY=cms
export REFERENCE CREATEDBY

#
# Notes
#
NOTEMODE=load
NOTEDATADIR=${IMAGELOADDATADIR}
NOTEOBJECTTYPE="Image"
export NOTEMODE NOTEDATADIR NOTEOBJECTTYPE

