#!/bin/sh

#
# tr10872.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/10800/10872
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
export PIXELDBDATA PIXELDBCOUNTER

#
# .jpg files
#
JPEG_DIR=${PROJECTDIR}
FULLSIZE_IMAGE_DIR=${JPEG_DIR}/J143778fullsize
THUMBNAIL_IMAGE_DIR=${JPEG_DIR}/J143778thumbnails
export JPEG_DIR FULLSIZE_IMAGE_DIR THUMBNAIL_IMAGE_DIR

#
# LOADFILE5 is a blank file, as there are no notes
#
LOADFILE1=${PROJECTDIR}/SuraniTableS7.txt
LOADFILE2=${PROJECTDIR}/SuraniTableS6Bands.txt
LOADFILE3=${PROJECTDIR}/SuraniTableS6Lanes.txt
LOADFILE5=${PROJECTDIR}/IndexNotes.txt
export LOADFILE1 LOADFILE2 LOADFILE3 LOADFILE5

IMAGELOADDIR=${PROJECTDIR}/imageload
IMAGELOADDATADIR=${IMAGELOADDIR}
export IMAGELOADDIR IMAGELOADDATADIR

ASSAYLOADDIR=${PROJECTDIR}/assayload
ASSAYLOADDATADIR=${ASSAYLOADDIR}
ASSAYLOADDIR1=${PROJECTDIR}/assayload1
export ASSAYLOADDIR ASSAYLOADDATADIR ASSAYLOADDIR1

#
# Settings for the image load
#

PIXELDB_FILES=${IMAGELOADDATADIR}/J143778stubs.txt
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
PIX_THUMBNAIL=${IMAGELOADDATADIR}/Pix_Thumbnail.txt
PIX_MISSING=${IMAGELOADDATADIR}/Pix_MissingFiles.txt
IMAGE_FULLSIZE=${IMAGELOADDATADIR}/image_Fullsize.txt
IMAGEPANE_FULLSIZE=${IMAGELOADDATADIR}/imagepane_Fullsize.txt
IMAGE_THUMBNAIL=${IMAGELOADDATADIR}/image_Thumbnail.txt
IMAGEPANE_THUMBNAIL=${IMAGELOADDATADIR}/imagepane_Thumbnail.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHT_NOTETYPE="Copyright"
CAPTION_NOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
QUALIFIER_THUMBNAIL=Thumbnail
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export PIXELDB_FILES PIX_FULLSIZE PIX_THUMBNAIL PIX_MISSING
export IMAGE_FULLSIZE IMAGEPANE_FULLSIZE IMAGE_THUMBNAIL IMAGEPANE_THUMBNAIL
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHT_NOTETYPE CAPTION_NOTETYPE
export QUALIFIER_FULLSIZE QUALIFIER_THUMBNAIL
export IMAGE_OBJECTTYPE IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

#
# Settings for the assay load
#

PROBEPREP_FILE=${ASSAYLOADDATADIR}/RT_PCR_probeprep.txt
ASSAY_FILE=${ASSAYLOADDATADIR}/RT_PCR_assay.txt
LANE_FILE=${ASSAYLOADDATADIR}/RT_PCR_gellane.txt
BAND_FILE=${ASSAYLOADDATADIR}/RT_PCR_gelband.txt
ASSAYLOADMODE=load
#ASSAYLOADMODE=preview
export PROBEPREP_FILE ASSAY_FILE LANE_FILE BAND_FILE
export ASSAYLOADMODE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:143778
CREATEDBY=cms
export REFERENCE CREATEDBY
