#!/bin/sh -f

#
# tr12491.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/12400/12491
export PROJECTDIR

# Settings for the probe load
#
PROBELOADDIR=${PROJECTDIR}/probeload
PROBELOADDATADIR=${PROBELOADDIR}
PROBEDATAFILE=AddProbeNotes.txt
PROBELOG=${PROBELOADDATADIR}/probeload.log
PROBELOADMODE=load
#PROBELOADMODE=preview
export PROBELOADDIR PROBELOADDATADIR PROBEDATAFILE PROBELOG PROBELOADMODE

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
export PIXELDBDATA PIXELDBCOUNTER

#
# Image directories
#
TR_DIR=/mgi/all/wts_projects/12400/12491/imageload
FULLSIZE_IMAGE_DIR=/mgi/all/wts_projects/12400/12491/jpg_image_files
export TR_DIR FULLSIZE_IMAGE_DIR

#
# Project input/output directories
#
IMAGELOADDIR=${PROJECTDIR}/imageload
IMAGELOADDATADIR=${IMAGELOADDIR}
export IMAGELOADDIR IMAGELOADDATADIR

IMAGE_LIST_FIG_FILE=${TR_DIR}/image_loader.txt
export IMAGE_LIST_FIG_FILE

#
# Settings for the image load
#
PIXELDB_FILES=${IMAGELOADDATADIR}/image_loader.txt
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
IMAGE_FULLSIZE=${IMAGELOADDATADIR}/image_Fullsize.txt
IMAGEPANE_FULLSIZE=${IMAGELOADDATADIR}/imagepane_Fullsize.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHT_NOTETYPE="Copyright"
CAPTION_NOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
#IMAGELOADMODE=preview
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export PIXELDB_FILES PIX_FULLSIZE PIX_MISSING
export IMAGE_FULLSIZE IMAGEPANE_FULLSIZE
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHT_NOTETYPE CAPTION_NOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

