#!/bin/sh

#
# tr12491.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/12400/12491
export PROJECTDIR

# Settings for the probe load
#
PROBELOADDIR=${PROJECTDIR}/probeload
PROBELOADDATADIR=${PROBELOADDIR}
PROBEDATAFILE=${PROBELOADDATADIR}/AddProbeNotes.txt
PROBELOG=${PROBELOADDATADIR}/probeload.log
#PROBELOADMODE=load
PROBELOADMODE=preview
export PROBELOADDIR PROBELOADDATADIR PROBEDATAFILE PROBELOG PROBELOADMODE

