#!/bin/sh -f

#
# tr12491.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/12400/12491
export PROJECTDIR

# Settings for the probe load
#
PROBELOADDIR=${PROJECTDIR}/probeload
PROBELOADDATADIR=${PROBELOADDIR}
PROBEDATAFILE=AddProbeNotes.txt
PROBELOG=${PROBELOADDATADIR}/probeload.log
PROBELOADMODE=load
#PROBELOADMODE=preview
export PROBELOADDIR PROBELOADDATADIR PROBEDATAFILE PROBELOG PROBELOADMODE

#
# Image directories
#
IMAGELOADDATADIR=/mgi/all/wts_projects/12400/12491/imageload
FULLSIZE_IMAGE_DIR=/mgi/all/wts_projects/12400/12491/jpg_image_files
export IMAGELOADDATADIR FULLSIZE_IMAGE_DIR

#
# Settings for the image load
#
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
IMAGEFILE=${IMAGELOADDATADIR}/imageFullsize.txt
IMAGEPANEFILE=${IMAGELOADDATADIR}/imagepaneFullsize.txt
QUALIFIER_FULLSIZE=Fullsize

IMAGELOADMODE=load
#IMAGELOADMODE=preview
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
REFERENCE=J:226028
IMAGETYPE=Expression

export PIX_FULLSIZE
export IMAGEFILE IMAGEPANEFILE
export QUALIFIER_FULLSIZE
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION
export REFERENCE
export IMAGETYPE

