#!/bin/sh

#
# tr10976.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/10900/10976
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
export PIXELDBDATA PIXELDBCOUNTER

#
# GenePaint directories
#
GENEPAINT_DIR=/mgi/all/wts_projects/10900/10976
XML_DIR=${GENEPAINT_DIR}/GenePaintXMLfiles
FULLSIZE_IMAGE_DIR=${GENEPAINT_DIR}/Load_Fullsize
THUMBNAIL_IMAGE_DIR=${GENEPAINT_DIR}/Load_Thumbnails
export GENEPAINT_DIR XML_DIR FULLSIZE_IMAGE_DIR THUMBNAIL_IMAGE_DIR

#
# Project input/output directories
#
TRANSLATIONDIR=${PROJECTDIR}/Translations
export TRANSLATIONDIR

PARSERDIR=${PROJECTDIR}/Parser
PARSERINPUTDIR=${PARSERDIR}/input
PARSEROUTPUTDIR=${PARSERDIR}/output
export PARSERDIR PARSERINPUTDIR PARSEROUTPUTDIR

IMAGELOADDIR=${PROJECTDIR}/imageload
IMAGELOADDATADIR=${IMAGELOADDIR}/data
export IMAGELOADDIR IMAGELOADDATADIR

ASSAYLOADDIR=${PROJECTDIR}/assayload
ASSAYLOADDATADIR=${ASSAYLOADDIR}/data
export ASSAYLOADDIR ASSAYLOADDATADIR

#
# Translation files
#
STRUCTURE_TRANS_FILE=${TRANSLATIONDIR}/StructureTranslation.txt
export STRUCTURE_TRANS_FILE

#
# XML parser files
#
STRUCTURE_FILE=${PARSERINPUTDIR}/Structures.txt
GENE_FILE=${PARSERINPUTDIR}/GeneList.txt
export STRUCTURE_FILE GENE_FILE

STR_PATT_FILE=${PARSEROUTPUTDIR}/StrengthPattern.txt
STR_PATT_TRANS_FILE=${PARSEROUTPUTDIR}/StrengthPatternTrans.txt
IMAGE_LIST_FILE=${PARSEROUTPUTDIR}/ImageList.txt
IMAGE_LIST_FIG_FILE=${PARSEROUTPUTDIR}/ImageListFigLabels.txt
BEST_IMAGE_FILE=${PARSEROUTPUTDIR}/BestImage.txt
export STR_PATT_FILE STR_PATT_TRANS_FILE
export IMAGE_LIST_FILE IMAGE_LIST_FIG_FILE BEST_IMAGE_FILE

#
# Settings for the primer load
#
PRIMERDIR=/mgi/all/wts_projects/10900/10976/primerload
LOGDIR=${PRIMERDIR}/logs
INPUTDIR=${PRIMERDIR}/input
OUTPUTDIR=${PRIMERDIR}/output
export PRIMERDIR LOGDIR INPUTDIR OUTPUTDIR

PRIMERDATAFILE=${INPUTDIR}/CreatePrimers.txt
PRIMERLOG=${LOGDIR}/tr10976.log
PRIMERMODE=load
export PRIMERDATAFILE PRIMERLOG PRIMERMODE

#
# Settings for the probe load
#
PROBELOADDIR=${PROJECTDIR}/probeload
PROBELOADDATADIR=${PROBELOADDIR}/data
PROBEDATAFILE=${PROBELOADDATADIR}/CreateProbes.txt
PROBELOG=${PROBELOADDATADIR}/probeload.log
PROBELOADMODE=load
export PROBELOADDIR PROBELOADDATADIR PROBEDATAFILE PROBELOG PROBELOADMODE

#
# Raw Sequence Note
#
RAWNOTE_FILE=${PROBELOADDATADIR}/rawNote.txt
RAWNOTE_NOTETYPE="Raw Sequence"
RAWNOTE_OBJECTTYPE=Segment
export RAWNOTE_FILE RAWNOTE_NOTETYPE RAWNOTE_OBJECTTYPE

#
# Settings for the image load
#
PIXELDB_FILES=${IMAGELOADDATADIR}/PixelDBFileList.txt
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
PIX_THUMBNAIL=${IMAGELOADDATADIR}/Pix_Thumbnail.txt
PIX_MISSING=${IMAGELOADDATADIR}/Pix_MissingFiles.txt
IMAGE_FULLSIZE=${IMAGELOADDATADIR}/image_Fullsize.txt
IMAGEPANE_FULLSIZE=${IMAGELOADDATADIR}/imagepane_Fullsize.txt
IMAGE_THUMBNAIL=${IMAGELOADDATADIR}/image_Thumbnail.txt
IMAGEPANE_THUMBNAIL=${IMAGELOADDATADIR}/imagepane_Thumbnail.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHT_NOTETYPE="Copyright"
CAPTION_NOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
QUALIFIER_THUMBNAIL=Thumbnail
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export PIXELDB_FILES PIX_FULLSIZE PIX_THUMBNAIL PIX_MISSING
export IMAGE_FULLSIZE IMAGEPANE_FULLSIZE IMAGE_THUMBNAIL IMAGEPANE_THUMBNAIL
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHT_NOTETYPE CAPTION_NOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE QUALIFIER_THUMBNAIL
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

#
# Settings for the assay load
#
ASSAY_FILE=${ASSAYLOADDATADIR}/In_Situ_assay.txt
PROBEPREP_FILE=${ASSAYLOADDATADIR}/In_Situ_probeprep.txt
SPECIMEN_FILE=${ASSAYLOADDATADIR}/In_Situ_specimen.txt
RESULTS_FILE=${ASSAYLOADDATADIR}/In_Situ_results.txt
RESULT_IMAGE_FILE=${ASSAYLOADDATADIR}/Result_Image.txt
ASSAYLOADMODE=load
export ASSAY_FILE PROBEPREP_FILE SPECIMEN_FILE RESULTS_FILE RESULT_IMAGE_FILE
export ASSAYLOADMODE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:122989
CREATEDBY=jfinger
export REFERENCE CREATEDBY
