#!/bin/sh

#
# tr12649.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/12600/12649
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
export PIXELDBDATA PIXELDBCOUNTER

#
# Image directories
#
TR_DIR=${PROJECTDIR}/imageload
FULLSIZE_IMAGE_DIR=${PROJECTDIR}/ImagesToAdd
export TR_DIR FULLSIZE_IMAGE_DIR

#
# Project input/output directories
#
IMAGELOADDIR=${PROJECTDIR}/imageload
IMAGELOADDATADIR=${IMAGELOADDIR}
export IMAGELOADDIR IMAGELOADDATADIR

IMAGE_LIST_FIG_FILE=${TR_DIR}/image_loader.txt
export IMAGE_LIST_FIG_FILE

#
# Settings for the image load
#
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
IMAGEFILE=${IMAGELOADDATADIR}/image_Fullsize.txt
IMAGEPANEFILE=${IMAGELOADDATADIR}/imagepane_Fullsize.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHT_NOTETYPE="Copyright"
CAPTION_NOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
#IMAGELOADMODE=preview
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
IMAGETYPE='Full Size'
IMAGECLASS='Expression'
export PIX_FULLSIZE PIX_MISSING
export IMAGEFILE IMAGEPANEFILE
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHT_NOTETYPE CAPTION_NOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION
export IMAGETYPE IMAGECLASS

TEXT_FILE=${PROJECTDIR}/Images.txt
export TEXT_FILE

#
# Settings for the assay load
#
INPUT_RESULTS_FILE=${PROJECTDIR}/Results.txt
INPUT_STRUCTURE_FILE=${PROJECTDIR}/StructureTranslation.txt
export INPUT_RESULTS_FILE INPUT_STRUCTURE_FILE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:171409
CREATEDBY=cms
GUDMAP_LOGICALDB=163
export REFERENCE CREATEDBY GUDMAP_LOGICALDB
