#!/bin/sh

#
# tr10159.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/10100/10159
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
export PIXELDBDATA PIXELDBCOUNTER

#
# Image directories
#
TR_DIR=/mgi/all/wts_projects/10100/10159
#/mgi/all/GXD/NHGRI-images
FULLSIZE_IMAGE_DIR=${TR_DIR}/J157352Fullsize
THUMBNAIL_IMAGE_DIR=${TR_DIR}/J157352Thumbnails
export TR_DIR FULLSIZE_IMAGE_DIR THUMBNAIL_IMAGE_DIR

#
# Project input/output directories
#
IMAGELOADDIR=${PROJECTDIR}/imageload
IMAGELOADDATADIR=${IMAGELOADDIR}
export IMAGELOADDIR IMAGELOADDATADIR

IMAGE_LIST_FIG_FILE=${TR_DIR}/J157352stubs.txt
export IMAGE_LIST_FIG_FILE

#
# Settings for the image load
#
PIXELDB_FILES=${IMAGELOADDATADIR}/PixelDBFileList.txt
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
PIX_THUMBNAIL=${IMAGELOADDATADIR}/Pix_Thumbnail.txt
IMAGE_FULLSIZE=${IMAGELOADDATADIR}/image_Fullsize.txt
IMAGEPANE_FULLSIZE=${IMAGELOADDATADIR}/imagepane_Fullsize.txt
IMAGE_THUMBNAIL=${IMAGELOADDATADIR}/image_Thumbnail.txt
IMAGEPANE_THUMBNAIL=${IMAGELOADDATADIR}/imagepane_Thumbnail.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHT_NOTETYPE="Copyright"
CAPTION_NOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
QUALIFIER_THUMBNAIL=Thumbnail
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export PIXELDB_FILES PIX_FULLSIZE PIX_THUMBNAIL PIX_MISSING
export IMAGE_FULLSIZE IMAGEPANE_FULLSIZE IMAGE_THUMBNAIL IMAGEPANE_THUMBNAIL
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHT_NOTETYPE CAPTION_NOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE QUALIFIER_THUMBNAIL
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

#
# Miscellaneous settings
#
REFERENCE=J:157352
CREATEDBY=ijm
export REFERENCE CREATEDBY
