#!/bin/sh

#
# tr10407.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/10400/10407
export PROJECTDIR

#
# Project input/output directories
#
ASSAYLOADDIR=${PROJECTDIR}/assayload
ASSAYLOADDATADIR=${ASSAYLOADDIR}          # Needed by insituload
export ASSAYLOADDIR ASSAYLOADDATADIR

#
# Data files
#
PROBEPREP_ASSAY_DATA=${ASSAYLOADDIR}/Assays.txt
SPEC_RESULTS_DATA=${ASSAYLOADDIR}/SpecimenResults.txt
export PROBEPREP_ASSAY_DATA SPEC_RESULTS_DATA

#
# Settings for the assay load
#
PROBEPREP_FILE=${ASSAYLOADDIR}/In_Situ_probeprep.txt
ASSAY_FILE=${ASSAYLOADDIR}/In_Situ_assay.txt
SPECIMEN_FILE=${ASSAYLOADDIR}/In_Situ_specimen.txt
RESULTS_FILE=${ASSAYLOADDIR}/In_Situ_results.txt
RESULT_IMAGE_FILE=${ASSAYLOADDIR}/Result_Image.txt
ASSAYLOADMODE=load
export PROBEPREP_FILE ASSAY_FILE SPECIMEN_FILE RESULTS_FILE RESULT_IMAGE_FILE
export ASSAYLOADMODE

#
# Settings for the index load
#
IDXPRIORITY=High
IDXCOMMENTS=""
export IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:156017
CREATEDBY=cms
export REFERENCE CREATEDBY
