#!/bin/sh

#
# tr10840.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/10800/10840
export PROJECTDIR

#
# LOADFILE5 is a blank file, as there are no notes
#
LOADFILE1=${PROJECTDIR}/SuraniTableS7.txt
LOADFILE2=${PROJECTDIR}/SuraniTableS6Bands.txt
LOADFILE3=${PROJECTDIR}/SuraniTableS6Lanes.txt
LOADFILE5=${PROJECTDIR}/IndexNotes.txt
export LOADFILE1 LOADFILE2 LOADFILE3 LOADFILE5

ASSAYLOADDIR=${PROJECTDIR}/assayload
ASSAYLOADDATADIR=${ASSAYLOADDIR}
ASSAYLOADDIR1=${PROJECTDIR}/assayload1
export ASSAYLOADDIR ASSAYLOADDATADIR ASSAYLOADDIR1

PRIMERNAME=${PROJECTDIR}/primerload/output/newPrimer.txt
export PRIMERNAME

#
# Settings for the assay load
#
PROBEPREP_FILE=${ASSAYLOADDATADIR}/RT_PCR_probeprep.txt
ASSAY_FILE=${ASSAYLOADDATADIR}/RT_PCR_assay.txt
LANE_FILE=${ASSAYLOADDATADIR}/RT_PCR_gellane.txt
BAND_FILE=${ASSAYLOADDATADIR}/RT_PCR_gelband.txt
#ASSAYLOADMODE=load
ASSAYLOADMODE=preview
export PROBEPREP_FILE ASSAY_FILE LANE_FILE BAND_FILE
export ASSAYLOADMODE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:174767
CREATEDBY=cms
export REFERENCE CREATEDBY
