#!/bin/sh

#
# tr12026.config
#
#

. ${GXDLOAD}/Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/12000/12026
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
export PIXELDBDATA PIXELDBCOUNTER

#
# Image directories
#
TR_DIR=/mgi/all/wts_projects/12000/12026/imageload
FULLSIZE_IMAGE_DIR=/mgi/all/GXD/GUDMAP2/GudmapLoadImages
export TR_DIR FULLSIZE_IMAGE_DIR

#
# Project input/output directories
#
IMAGELOADDIR=${PROJECTDIR}/imageload
IMAGELOADDATADIR=${IMAGELOADDIR}
export IMAGELOADDIR IMAGELOADDATADIR

IMAGE_LIST_FIG_FILE=${TR_DIR}/image_loader.txt
export IMAGE_LIST_FIG_FILE

#
# Settings for the image load
#
PIXELDB_FILES=${IMAGELOADDATADIR}/image_loader.txt
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
IMAGE_FULLSIZE=${IMAGELOADDATADIR}/image_Fullsize.txt
IMAGEPANE_FULLSIZE=${IMAGELOADDATADIR}/imagepane_Fullsize.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHT_NOTETYPE="Copyright"
CAPTION_NOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
#IMAGELOADMODE=preview
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export PIXELDB_FILES PIX_FULLSIZE PIX_MISSING
export IMAGE_FULLSIZE IMAGEPANE_FULLSIZE
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHT_NOTETYPE CAPTION_NOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

#
# Settings for the assay load
#
ASSAYLOADDIR=${PROJECTDIR}/LoaderFiles
ASSAYLOADDATADIR=${ASSAYLOADDIR}
export ASSAYLOADDIR ASSAYLOADDATADIR

ASSAY_FILE=${ASSAYLOADDATADIR}/InSituAssay.txt
PROBEPREP_FILE=${ASSAYLOADDATADIR}/InSituProbeprep.txt
SPECIMEN_FILE=${ASSAYLOADDATADIR}/InSituSpecimen.txt
RESULTS_FILE=${ASSAYLOADDATADIR}/InSituResults.txt
RESULT_IMAGE_FILE=${ASSAYLOADDATADIR}/InSituResults.txt
ASSAYLOADMODE=load
#ASSAYLOADMODE=preview
export ASSAY_FILE PROBEPREP_FILE SPECIMEN_FILE RESULTS_FILE RESULT_IMAGE_FILE
export ASSAYLOADMODE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:228563
CREATEDBY=cms
export REFERENCE CREATEDBY
