#format: sh

#
# tr13240.config
#

#
#  If the MGICONFIG environment variable does not have a local override,
#  use the default "live" settings.
#
if [ "${MGICONFIG}" = "" ]
then
    MGICONFIG=/usr/local/mgi/live/mgiconfig
    export MGICONFIG
fi

. ${MGICONFIG}/master.config.sh

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/13200/13240
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
PIX_MAPPING=${PROJECTDIR}/imageload/all_images.pixload.mapping
export PIXELDBDATA PIXELDBCOUNTER PIX_MAPPING

#
# Image directories
# must use variable names as used by gxdimageload
#
IMAGELOADDATADIR=${PROJECTDIR}/imageload
FULLSIZE_IMAGE_DIR=${PROJECTDIR}/all_images
IMAGEFILE=${IMAGELOADDATADIR}/image_loader.txt
IMAGEPANEFILE=${IMAGELOADDATADIR}/imagepane.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHTNOTETYPE="Copyright"
CAPTIONNOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
#IMAGELOADMODE=preview
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export IMAGELOADDATADIR FULLSIZE_IMAGE_DIR
export IMAGEFILE IMAGEPANEFILE
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHTNOTETYPE CAPTIONNOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

#
# used by other load products
#
REFERENCE=J:228563
CREATEDBY=cms
export REFERENCE CREATEDBY
