#!/bin/sh

#
# tr9417.config
#
#

. ../Configuration

#
# WTS project directory
#
PROJECTDIR=/mgi/all/wts_projects/9400/9417
export PROJECTDIR

#
# Pixel DB settings
#
PIXELDBDATA=/data/pixeldb
PIXELDBCOUNTER=${PIXELDBDATA}/accession/counter
export PIXELDBDATA PIXELDBCOUNTER

#
# GenePaint directories
#
GENEPAINT_DIR=/mgi/all/GXD/From_Sirannon_Mgi_all_GXD/GXD/J139177_images
FULLSIZE_IMAGE_DIR=${GENEPAINT_DIR}/FullsizeImages
THUMBNAIL_IMAGE_DIR=${GENEPAINT_DIR}/ThumbnailImages
export GENEPAINT_DIR FULLSIZE_IMAGE_DIR THUMBNAIL_IMAGE_DIR

#
# Project input/output directories
#
IMAGELOADDIR=${PROJECTDIR}/imageload
IMAGELOADDATADIR=${IMAGELOADDIR}
export IMAGELOADDIR IMAGELOADDATADIR

ASSAYLOADDIR=${PROJECTDIR}/insitu
ASSAYLOADDATADIR=${ASSAYLOADDIR}
export ASSAYLOADDIR ASSAYLOADDATADIR

IMAGE_LIST_FIG_FILE=${ASSAYLOADDIR}/assayload.txt
export IMAGE_LIST_FIG_FILE

#
# Settings for the image load
#
PIXELDB_FILES=${IMAGELOADDATADIR}/PixelDBFileList.txt
PIX_FULLSIZE=${IMAGELOADDATADIR}/Pix_Fullsize.txt
PIX_THUMBNAIL=${IMAGELOADDATADIR}/Pix_Thumbnail.txt
IMAGE_FULLSIZE=${IMAGELOADDATADIR}/image_Fullsize.txt
IMAGEPANE_FULLSIZE=${IMAGELOADDATADIR}/imagepane_Fullsize.txt
IMAGE_THUMBNAIL=${IMAGELOADDATADIR}/image_Thumbnail.txt
IMAGEPANE_THUMBNAIL=${IMAGELOADDATADIR}/imagepane_Thumbnail.txt
COPYRIGHTFILE=${IMAGELOADDATADIR}/IMG_Copyright.in
CAPTIONFILE=${IMAGELOADDATADIR}/IMG_Caption.in
COPYRIGHT_NOTETYPE="Copyright"
CAPTION_NOTETYPE="Caption"
QUALIFIER_FULLSIZE=Fullsize
QUALIFIER_THUMBNAIL=Thumbnail
IMAGE_OBJECTTYPE=Image
IMAGELOADMODE=load
NOTELOADMODE=incremental
IMAGE_ACCESSION=${IMAGELOADDATADIR}/ACC_Accession_Image.bcp
export PIXELDB_FILES PIX_FULLSIZE PIX_THUMBNAIL PIX_MISSING
export IMAGE_FULLSIZE IMAGEPANE_FULLSIZE IMAGE_THUMBNAIL IMAGEPANE_THUMBNAIL
export COPYRIGHTFILE CAPTIONFILE
export COPYRIGHT_NOTETYPE CAPTION_NOTETYPE IMAGE_OBJECTTYPE
export QUALIFIER_FULLSIZE QUALIFIER_THUMBNAIL
export IMAGELOADMODE NOTELOADMODE
export IMAGE_ACCESSION

#
# Settings for the assay load
#
ASSAY_FILE=${ASSAYLOADDATADIR}/In_Situ_assay.txt
PROBEPREP_FILE=${ASSAYLOADDATADIR}/In_Situ_probeprep.txt
SPECIMEN_FILE=${ASSAYLOADDATADIR}/In_Situ_specimen.txt
RESULTS_FILE=${ASSAYLOADDATADIR}/In_Situ_results.txt
RESULT_IMAGE_FILE=${ASSAYLOADDATADIR}/Result_Image.txt
ASSAYLOADMODE=load
export ASSAY_FILE PROBEPREP_FILE SPECIMEN_FILE RESULTS_FILE RESULT_IMAGE_FILE
export ASSAYLOADMODE

#
# Settings for the index load
#
INDEXLOADMODE=load
IDXPRIORITY=High
IDXCOMMENTS=""
export INDEXLOADMODE IDXPRIORITY IDXCOMMENTS

#
# Miscellaneous settings
#
REFERENCE=J:139177
CREATEDBY=jfinger
export REFERENCE CREATEDBY
